.header {
    background: #fbfaf5;
    border-bottom: 1px solid #edebe0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-left,
.header-center,
.header-right {
    flex: 1;
}

.header-center {
    text-align: center;
}

.header__logo {
    color: #8b7969;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-right {
    display: flex;
    justify-content: flex-end;
}

.header-nav__link,
.header-nav__button {
    color: #8b7969;
    text-decoration: none;
    border: 1px solid #8b7969;
    padding: 5px 20px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.header-nav__link:hover,
.header-nav__button:hover {
    background: #8b7969;
    color: #fff;
}