.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
}


.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
    border-collapse: collapse;
}

.confirm-table__header {
    padding: 15px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    font-weight: bold;
    text-align: left;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.form__button-submit,
.form__button-modify {
    width: 160px;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.form__button-submit {
    background-color: #000;
    color: #fff;
}

.form__button-modify {
    background-color: #f4f4f4;
    color: #333;
    text-decoration: underline;
}